<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Fake News📰 Detection System</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
 <div class="login">
	<h1><b>FakeNews Detector📰</b></h1>

    <form action="{{ url_for('predict')}}" method="POST">
    	<textarea  name="message" rows="6" cols="50" required="required" style="font-size: 18pt" value="">{{mess}}</textarea>
		<br> </br>
        <button type="submit" class="btn btn-primary btn-block btn-large"><b>PREDICT</b></button>

        	<div class="results">

	{% if prediction == [False]%}
	<h2 style="color:red;">Looking Spam News📰 </h2>
	{% elif prediction == [ True]%}
				<h2 style="color:green;"><b>Looking Real News📰</b></h2>
	{% endif %}

	</div>

    </form>

</div>
</html>